{% load static %}
<section id="fh5co-testimonial">
     <div class="container">
         <div class="row">
             <div class="col-md-12 text-center">
                 <h2 class="fh5co-uppercase-heading-sm">Testimony</h2>

                 <div class="owl-carousel-fullwidth fh5co-light-arrow owl-carousel-2">
                     <div class="item">
                         <blockquote>
                             <p class="fh5co-serif">&ldquo;Design is not just what it looks like and feels like.
                                 Design is how it works.&rdquo;</p>

                             <p class="fh5co-testimonial-author"><cite>&mdash; Steve Jobs</cite></p>
                         </blockquote>
                     </div>
                     &lt;!&ndash; END .item &ndash;&gt;
                     <div class="item">

                         <blockquote>
                             <p class="fh5co-serif">&ldquo;Design is not just what it looks like and feels like.
                                 Design is how it works.&rdquo;</p>

                             <p class="fh5co-testimonial-author"><cite>&mdash; Steve Jobs</cite></p>
                         </blockquote>
                     </div>
                     &lt;!&ndash; END .item &ndash;&gt;
                 </div>
             </div>
         </div>
     </div>
 </section>
