{% load cms_tags static %}
<section id="fh5co-features">
    <div class="container">
        <div class="row fh5co-feature-1">
            <div class="row">
                <div class="col-md-2 col-md-offset-2 col-sm-6 fh5co-feature-item text-center text-red">
                    <span class="fh5co-feature-icon">{% placeholder "Panel icono 1" %}</span>
                </div>
                <div class="col-md-2 col-sm-6 fh5co-feature-item text-center text-red">
                    <span class="fh5co-feature-icon">{% placeholder "Panel icono 2" %}</span>
                </div>
                <div class="col-md-2 col-sm-6 fh5co-feature-item text-center text-red">
                    <span class="fh5co-feature-icon">{% placeholder "Panel icono 3" %}</i></span>
                </div>
                <div class="col-md-2 col-sm-6 fh5co-feature-item text-center text-red">
                    <span class="fh5co-feature-icon">{% placeholder "Panel icono 4" %}</i></span>
                </div>
                <div class="fh5co-spacer fh5co-spacer-sm"></div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="fh5co-serif fh5co-lead">{% placeholder "Titulo de features" %}</h2>

                    <div class="fh5co-spacer fh5co-spacer-sm"></div>
                </div>
            </div>
        </div>

        <!-- FEATURES -->
        <div class="row fh5co-feature-2">

            <div class="col-md-4 col-sm-6 fh5co-feature-item">


                <h3 class="text-center fh5co-feature-title h4 text-uppercase">Foro vitrual</h3>

                <p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt. </p>

                <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-feature-item">


                <h3 class="text-center fh5co-feature-title h4 text-uppercase">Foro al aire libre</h3>

                <p class="text-justify fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>

                <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-feature-item">
                <h3 class="text-center fh5co-feature-title h4 text-uppercase">Renta de equipo</h3>

                <p class="text-justify fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>

                <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
            </div>


            <div class="col-md-4 col-sm-6 fh5co-feature-item">


                <h3 class="text-center fh5co-feature-title h4 text-uppercase">Transmisión vía satelital</h3>

                <p class="text-justify fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>

                <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-feature-item">

                <h3 class="text-center fh5co-feature-title h4 text-uppercase">Transmisión en streaming</h3>

                <p class="text-justify fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>

                <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-feature-item">


                <h3 class="text-center fh5co-feature-title h4 text-uppercase">Cabina de audio</h3>

                <p class="text-justify fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>

                <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
            </div>

            <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

        </div>
    </div>
</section>
<div class="fh5co-spacer fh5co-spacer-lg"></div>
