{% load cms_tags static %}
<section id="fh5co-features">
    <div class="container">
<div class="row fh5co-feature-2">

                <div class="col-md-4 col-sm-6 fh5co-feature-item">


                    <h3 class="text-center fh5co-feature-title h4 text-uppercase">{% placeholder Recuadro1_Titulo or %}Título del recuadro 1{% endplaceholder %}</h3>

                    <p class="text-center fh5co-feature-description">{% placeholder Recuadro1_Contenido or %}Contenido del recuadro 1. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Fugiat aliquid placeat{% endplaceholder %}</p>
                </div>

                <div class="col-md-4 col-sm-6 fh5co-feature-item">

                    <h3 class="text-center fh5co-feature-title h4 text-uppercase">{% placeholder Recuadro2_Titulo or %}Título del recuadro 2{% endplaceholder %}</h3>

                    <p class="text-center fh5co-feature-description">{% placeholder Recuadro2_Contenido or %}Contenido del recuadro 2. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Fugiat aliquid placeat{% endplaceholder %}</p>

                    {# <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Leer más</a></p> #}
                </div>
                <div class="col-md-4 col-sm-6 fh5co-feature-item">
                    <h3 class="text-center fh5co-feature-title h4 text-uppercase">{% placeholder Recuadro3_Titulo or %}Título del recuadro 3{% endplaceholder %}</h3>

                    <p class="text-center fh5co-feature-description">{% placeholder Recuadro3_Contenido or %}Contenido del recuadro 3. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Fugiat aliquid placeat{% endplaceholder %}</p>

                    {# <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Leer más</a></p> #}
                </div>


                <div class="col-md-4 col-sm-6 fh5co-feature-item">


                    <h3 class="text-center fh5co-feature-title h4 text-uppercase">{% placeholder Recuadro4_Titulo or %}Título del recuadro 4{% endplaceholder %}</h3>

                    <p class="text-center fh5co-feature-description">{% placeholder Recuadro4_Contenido or %}Contenido del recuadro 4. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Fugiat aliquid placeat{% endplaceholder %}</p>

                    {# <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Leer más</a></p> #}
                </div>
                <div class="col-md-4 col-sm-6 fh5co-feature-item">

                    <h3 class="text-center fh5co-feature-title h4 text-uppercase">{% placeholder Recuadro5_Titulo or %}Título del recuadro 5{% endplaceholder %}</h3>

                    <p class="text-center fh5co-feature-description">{% placeholder Recuadro5_Contenido or %}Contenido del recuadro 5. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Fugiat aliquid placeat{% endplaceholder %}</p>

                    {# <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Leer más</a></p> #}
                </div>
                <div class="col-md-4 col-sm-6 fh5co-feature-item">


                    <h3 class="text-center fh5co-feature-title h4 text-uppercase">{% placeholder Recuadro6_Titulo or %}Título del recuadro 6{% endplaceholder %}</h3>

                    <p class="text-center fh5co-feature-description">{% placeholder Recuadro6_Contenido or %}Contenido del recuadro 6. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Fugiat aliquid placeat{% endplaceholder %}</p>

                    {# <p class="text-center"><a href="#" class="btn btn-primary btn-sm">Leer más</a></p> #}
                </div>

                <!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

            </div>
    </div>
</section>