{% load cms_tags static %}
<!-- START #fh5co-hero -->
<section id="fh5co-hero" class="overlay blue" style="background-image: url('{% placeholder 'header_background_image' or %}{% static "images/pexels-photo-661342.jpeg" %}{% endplaceholder %}');">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="fh5co-hero-wrap">
                  <div class="fh5co-hero-intro">
                      {% placeholder "Intro de header" %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
