{% load static %}
<section id="fh5co-action" class="overlay pink" style="background-image: url({% static 'images/pexels-photo-29737.jpg' %})">
	<div class="container">
	    <article class="row">
			    <div class="col-md-7 texto-prefooter">
			    	<p>En <b>teleSUR</b> ampliamos nuestros servicios sin dejar de lado la misión de llevar al mundo las realidades del los pueblos.</p>

					<p>Por ello, ponemos así a su disposición estudios, sets y tecnología de punta para hacer televisión desde América Latina.</p>
			    </div> 
			    <div class="col-md-5">
					<img src="static/famtelesur.jpg" class="rounded mx-auto d-block" width="100%" style="opacity: .5;">
			    </div>
	    </article>
	</div>
</section>