{% load static %}
<section id="fh5co-action" class="overlay pink" style="background-image: url({% static 'images/pexels-photo-29737.jpg' %})">
	<div class="container">
	    <article class="row">
			    <div class="col-md-12 texto-prefooter">
			    	<p>Ponemos a su disposición estudios, sets y tecnología de punta para hacer televisión desde América Latina.</p>
			    </div> 
			    <div class="col-md-12">
			    	<div class="col-md-4">
			    		<img src="http://studiorec.openmultimedia.biz/static/images/studiorec01.jpg" class="rounded mx-auto d-block" width="100%" style="border-radius: 100px;">
			    	</div>
			    	<div class="col-md-4">
			    		<img src="http://studiorec.openmultimedia.biz/static/images/studiorec02.jpg" class="rounded mx-auto d-block" width="100%" style="border-radius: 100px;">
			    	</div>
			    	<div class="col-md-4">
			    		<img src="http://studiorec.openmultimedia.biz/static/images/studiorec03.jpg" class="rounded mx-auto d-block" width="100%" style="border-radius: 100px;">
			    	</div>
			    </div>
	    </article>
	</div>
</section>