{% load static cms_tags %}
<article class="row servicio">
    <div class="col-sm-6">
        {% placeholder Imagen1 or %}<img src="{% static 'images/microphone-1562354_640.jpg' %}" class="img-responsive img-shadow fh5co-align-left ">{% endplaceholder %}
    </div>
    <div class="col-sm-6"><h2>{% placeholder Titulo1 or %}{% endplaceholder %}<span class="fh5co-border"></span></h2>
    <p>{% placeholder Descripcion1 or %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet laoreet magna vel consequat.
        Donec fermentum orci at nibh molestie accumsan. Suspendisse lobortis, sem sit amet feugiat posuere,
        leo felis interdum velit, ac pellentesque turpis quam at est. Vestibulum cursus nulla sagittis metus
        pulvinar fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Curabitur ut gravida sem. Aliquam condimentum elit turpis. Praesent rhoncus, nisl ac mollis pharetra, lacus
        ante vestibulum ex, vel ultricies erat mi vitae sapien.
    {% endplaceholder %}</p></div>
</article>
<article class="row servicio">
    <div class="col-sm-6"><h2>{% placeholder Titulo2 or %}{% endplaceholder %}<span class="fh5co-border"></span></h2>
        <p>{% placeholder Descripcion2 or %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet laoreet magna vel consequat.
        Donec fermentum orci at nibh molestie accumsan. Suspendisse lobortis, sem sit amet feugiat posuere,
        leo felis interdum velit, ac pellentesque turpis quam at est. Vestibulum cursus nulla sagittis metus
        pulvinar fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Curabitur ut gravida sem. Aliquam condimentum elit turpis. Praesent rhoncus, nisl ac mollis pharetra, lacus
        ante vestibulum ex, vel ultricies erat mi vitae sapien.
    {% endplaceholder %}</p></div>
    <div class="col-sm-6">{% placeholder Imagen2 or %}<img src="{% static 'images/microphone-1562354_640.jpg' %}" class="img-responsive img-shadow fh5co-align-left ">{% endplaceholder %} </div>
</article>
<article class="row servicio">
    <div class="col-sm-6">
        {% placeholder Imagen3 or %}<img src="{% static 'images/microphone-1562354_640.jpg' %}" class="img-responsive img-shadow fh5co-align-left ">{% endplaceholder %}
    </div>
    <div class="col-sm-6"><h2>{% placeholder Titulo3 or %}{% endplaceholder %}<span class="fh5co-border"></span></h2>
    <p>{% placeholder Descripcion3 or %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet laoreet magna vel consequat.
        Donec fermentum orci at nibh molestie accumsan. Suspendisse lobortis, sem sit amet feugiat posuere,
        leo felis interdum velit, ac pellentesque turpis quam at est. Vestibulum cursus nulla sagittis metus
        pulvinar fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Curabitur ut gravida sem. Aliquam condimentum elit turpis. Praesent rhoncus, nisl ac mollis pharetra, lacus
        ante vestibulum ex, vel ultricies erat mi vitae sapien.
    {% endplaceholder %}</p></div>
</article>
<article class="row servicio">
    <div class="col-sm-6">
        {% placeholder Imagen4 or %}<img src="{% static 'images/microphone-1562354_640.jpg' %}" class="img-responsive img-shadow fh5co-align-left ">{% endplaceholder %}
    </div>
    <div class="col-sm-6"><h2>{% placeholder Titulo4 or %}{% endplaceholder %}<span class="fh5co-border"></span></h2>
    <p>{% placeholder Descripcion4 or %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet laoreet magna vel consequat.
        Donec fermentum orci at nibh molestie accumsan. Suspendisse lobortis, sem sit amet feugiat posuere,
        leo felis interdum velit, ac pellentesque turpis quam at est. Vestibulum cursus nulla sagittis metus
        pulvinar fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Curabitur ut gravida sem. Aliquam condimentum elit turpis. Praesent rhoncus, nisl ac mollis pharetra, lacus
        ante vestibulum ex, vel ultricies erat mi vitae sapien.
    {% endplaceholder %}</p></div>
</article>