{% load cms_tags static %}
<section id="fh5co-feature-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel-fullwidth owl-carousel-2">
                    <div class="item">
                        <!-- <div class="container"> -->
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-xs-12 fh5co-item-slide-text"
                                         style="background: url({% static "images/Golden-Studio-04.jpg" %})">
                                        <h2 class="text-white text-right">Estudio de grabación <span
                                                class="fh5co-border right"></span></h2>
                                        <p class="text-white text-right">Lorem ipsum dolor sit amet, consectetur
                                            adipisicing elit. Saepe dolore
                                            natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid
                                            labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora
                                            tempore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <!-- END .item -->

                    <div class="item">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                                        <img src="{% static 'images/macbook_1.png' %}" alt="Images" class="img-responsive">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                                        <h2>Saepe dolore natus corrupti<span class="fh5co-border"></span></h2>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore
                                            natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid
                                            labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora
                                            tempore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END .item -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fh5co-spacer fh5co-spacer-xlg"></div>
