{% load static %}
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

<!-- Google Webfont -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<!-- Themify Icons -->
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Owl Carousel -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<!-- Magnific Popup -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<!-- Superfish -->
<link rel="stylesheet" href="{% static 'css/superfish.css' %}">
<!-- Easy Responsive Tabs -->
<link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.css' %}">

<!-- Theme Style -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<![endif]-->
