{% extends "base.html" %}
{% load cms_tags %}

{% block mainclass %}main-page{% endblock %}
{% block content %}
    {% placeholder "contenido" %}
    

<div class="row fh5co-pricing-table-1">
    <div class="col-md-12">
        <h2 class="text-center">Paquetes de grabación</h2>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>AG-HPX250</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>1</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>
                <li><strong>1</strong> Cámara <strong>Panasonic AG-HPX250</strong></li>
                <li><strong>2</strong> Tarjetas de 64GB</li>
                <li><strong>3</strong> Baterías</li>
                <li><strong>1</strong> Tripié Manfrotto 501 HDV</li>
                <li><strong>1</strong> Micrófono inalámbrico Senhheiser G3 (Lavalier o de mano)</li>
                <li><strong>1</strong> Cargador de batería</li>
                <li><strong>1</strong> Lector de tarjetas</li>
                <li><strong>1</strong> Sun Gun LED Vidpro con 2 baterías y cargador (312 Leds)</li>
                <li><strong>1</strong> Par de audífonos Sony MDR-506</li>
                <li><strong>1</strong> Reflector de luz 42'' (dorado, plata, blanco y translúcido)</li>
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>AG-HPX170P</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>2</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>
                <li><strong>1</strong> Cámara <strong>Panasonic AG-HPX170P</strong></li>
                <li><strong>2</strong> Tarjetas de 32GB</li>
                <li><strong>3</strong> Baterías</li>

                <li><strong>1</strong> Tripié Cartoni D608</li>
                <li><strong>1</strong> Micrófono inalámbrico Senhheiser G3 (Lavalier o de mano)</li>
                <li><strong>1</strong> Cargador de batería</li>
                <li><strong>1</strong> Lector de tarjetas</li>
                <li><strong>1</strong> Sun Gun LED Micropro<br/>&nbsp;(96 Leds)</li>
                <li><strong>1</strong> Par de audífonos Sony MDR-506</li>
                <li><strong>1</strong> Reflector de luz 42'' (dorado, plata, blanco y translúcido)</li>
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>AG-HVX200AP</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>3</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>
                <li><strong>1</strong> Cámara <strong>Panasonic AG-HVX200AP</strong></li>
                <li><strong>2</strong> Tarjetas de 32GB</li>
                <li><strong>3</strong> Baterías</li>

                <li><strong>1</strong> Tripié Manfrotto 501 HDV</li>
                <li><strong>1</strong> Micrófono inalámbrico Senhheiser G3 (Lavalier o de mano)</li>
                <li><strong>1</strong> Cargador de batería</li>
                <li><strong>1</strong> Lector de tarjetas</li>
                <li><strong>1</strong> Sun Gun LED Vidpro con 2 baterías y cargador (312 Leds)</li>
                <li><strong>1</strong> Par de audífonos Sony MDR-506</li>
                <li><strong>1</strong> Reflector de luz 42'' (dorado, plata, blanco y translúcido)</li>
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>
    
</div>






<div class="row fh5co-pricing-table-1">

<div class="col-md-12">
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>5D MARK</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>4</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>
                <li><strong>1</strong> Cámara DSLR <strong>Canon 5D Mark II</strong></li>
                <li><strong>2</strong> Lente 24-70 F4</li>
                <li><strong>1</strong> Batería</li>
                <li><strong>1</strong> Tripié Manfrotto 501 HDV</li>
                <li><strong>1</strong> Cargador de batería</li>
                <li><strong>1</strong> Tarjeta SD 128GB</li>
                <li><strong>1</strong> Reflector de luz 42'' (dorado, plata, blanco y translúcido)</li>
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>HERO 2</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>5</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>
                <li><strong>1</strong> Cámara <strong>GoPro Hero 2</strong></li>
                <li><strong>2</strong> Baterías</li>
                <li><strong>1</strong> Tarjeta SD 32GB</li>
                <li><strong>1</strong> Carcasa de buceo</li>
                <li><strong>1</strong> Soporte para bicicleta</li>
                <li><strong>1</strong> Soporte para cabeza</li>
                <li><strong>1</strong> Soporte de ventosa<br>&nbsp;</li>
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>Extras</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>Extras</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">

            <ul>
                <li>Monopié Manfrotto MXMXPRO 500 USXPRO</li>
                <li>Dolly Davis&amp;Sanford W3</li>
                <li>Slider Ring Light barra 120CM PRO</li>
                <li>Teleprompter con iPad mini</li>
                <li>Sistema de Intercom inalámbrico Simultalk 4 RARIO con 4 diademas y 4 cargadores</li>
                <li>Canupus ADVC110 (Convertidor bidireccional de video)</li>
                
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>

</div>







<div class="fh5co-spacer fh5co-spacer-sm"></div>
<div class="fh5co-spacer fh5co-spacer-sm"></div>










<div class="row fh5co-pricing-table-1">
    <div class="col-md-12">
        <h2 class="text-center">Kits de iluminación</h2>
        <div class="fh5co-spacer fh5co-spacer-sm"></div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>KIT LOWELL CREATOR 55</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>6</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>
                <li><strong>1</strong> Rifa-Lite eX55 500W Softbox Umbrella plata 21x21''</li>
                <li><strong>1</strong> Tota-light 750W con marco para filtro</li>
                <li><strong>1</strong> Omni-light 500W con sombrilla plata</li>
                <li><strong>1</strong> Pro-light 250W con marco para filtro</li>
                <li><strong>4</strong> Tripiés</li>
                <li><strong>1</strong> Bandera Tota 8x12''</li>
                <li><strong>1</strong> Flexi-shaft</li>
                <li><strong>4</strong> Cables</li>
                <li><strong>1</strong> Estuche rígido</li>
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>KIT LOWEL eX SMALL TRIPLE SOFT</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>7</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>
                <li><strong>1</strong> Lámpara Rifa-lite eX66 750W</li>
                <li><strong>1</strong> Softbox Umbrella plata 25x25''</li>

                <li><strong>1</strong> Lámpara Rifa-lite eX55 500W</li>
                <li><strong>1</strong> Softbox Umbrella plata 21x21''</li>

                <li><strong>1</strong> Lámpara Rifa-lite eX44 250W</li>
                <li><strong>1</strong> Softbox Umbrella plata 16x16''</li>
                <li><strong>1</strong> Maleta</li>

                <li><strong>3</strong> Tripiés</li>
                <li><strong>3</strong> Cables<br>&nbsp;</li>


            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>


    <div class="col-md-4 col-sm-6 fh5co-pricing-table-item">
        <div class="fh5co-pricing-table-item-heading">
            <p>KINO FLO</p>
            {# <h3><sup>$</sup>19<span>/month</span></h3> #}
            <h3>8</h3>
        </div>
        <div class="fh5co-pricing-table-item-body">
            <ul>

                <li><strong>2</strong> Kino Flo Diva-Lite 401</li>
                <li><strong>4</strong> Lámparas ó <strong>2</strong> Lámparas 3200ºK</li>
                <li><strong>1</strong> Flozier</li>
                <li><strong>1</strong> Marco para filtro</li>
                <li><strong>1</strong> Persiana</li>
                <li><strong>1</strong> Maleta</li>
                <li><strong>1</strong> Montura</li>
                <li><strong>1</strong> Tripié<br>&nbsp;<br>&nbsp;</li>
                
            </ul>
            <div class="fh5co-spacer  fh5co-spacer-xxs"></div>
            <p><a href="/contacto/informes/" class="btn btn-outline btn-block fh5co-no-margin-botton">Contáctanos</a></p>
        </div>
    </div>
    
</div>



                                                     
<div class="fh5co-spacer fh5co-spacer-sm"></div>


{% endblock %}
{% block prefooter %}{% include "includes/prefooter.html" %}{% endblock %}
