{% load static %}
<article class="row">
    <div class="col-sm-6"><img src="{% static 'images/microphone-1562354_640.jpg' %}" class="img-responsive img-shadow fh5co-align-left "> </div>
    <div class="col-sm-6"><h2>Servicio con operadores<span class="fh5co-border"></span></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet laoreet magna vel consequat.
        Donec fermentum orci at nibh molestie accumsan. Suspendisse lobortis, sem sit amet feugiat posuere,
        leo felis interdum velit, ac pellentesque turpis quam at est. Vestibulum cursus nulla sagittis metus
        pulvinar fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Curabitur ut gravida sem. Aliquam condimentum elit turpis. Praesent rhoncus, nisl ac mollis pharetra, lacus
        ante vestibulum ex, vel ultricies erat mi vitae sapien.</p></div>
</article>
<article class="row">
    <div class="col-sm-6"><h2>Shooting para publicaciones impresas<span class="fh5co-border"></span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet laoreet magna vel consequat.
            Donec fermentum orci at nibh molestie accumsan. Suspendisse lobortis, sem sit amet feugiat posuere,
            leo felis interdum velit, ac pellentesque turpis quam at est. Vestibulum cursus nulla sagittis metus
            pulvinar fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Curabitur ut gravida sem. Aliquam condimentum elit turpis. Praesent rhoncus, nisl ac mollis pharetra, lacus
            ante vestibulum ex, vel ultricies erat mi vitae sapien.</p></div>
    <div class="col-sm-6"><img src="{% static 'images/microphone-1562354_640.jpg' %}" class="img-responsive img-shadow fh5co-align-right"> </div>
</article>
