li.lang {
  a { color: red; }
  &.active {
    display: none !important;
  }
}

#fh5co-logo img {
    height: 60px;
}

#fh5co-header-section {
    padding-top: 30px;
}

.fh5co-feature-description {
    padding: 0 2em;
}